<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <GamePath Condition="'$(GamePath)' == ''">C:\Example\Example\Example\common\Potion Craft</GamePath>
  </PropertyGroup>
</Project>